@import '../mixins/buttons.scss';

.buttonsComFundo {
    @include buttons($corSecundaria, $corPrimaria, 1px solid $corSecundaria, 1.2em, 5px);
    font-weight: 600;
    transition: 1s;
    &:hover {
        background-color: transparent;
        color: $corSecundaria;
    }
    
}

.btnsSemFundo {
    @include buttons(transparent, $corSecundaria, 1px solid $corSecundaria, 1.2em, 5px);
    font-weight: 600;
    transition: 1s;
    &:hover {
        background-color: $corSecundaria;
        color: $corPrimaria;
    }
    
}

.btnsCancel {
    @include buttons($corBtnsCancel, $corSecundaria, none, 1em, 5px 10px);
    font-weight: 600;
    transition: 1s;
    &:hover {
        background-color: $corBtnsCancelHover;
    }
}