@import '../../assets/Sass/variaveis.scss';

#sectionCarrinho {
    margin: 20px 200px;         
}

#holdCar {
    display: grid;
    grid-template-areas: 'productsNoCar holdResumoPedido';
    align-items: start;
    gap: 15px;
}

.cardProductCar {
    margin: 10px 0px;
    display: flex;
    padding: 10px;
    backdrop-filter: blur( 13.5px );
    background: $corTerciaria;
    border-radius: 8px;
    img {
        width: 150px;
    }
}

#holdResumoPedido {
    padding: 10px;
    background: $corTerciaria;
    border-radius: 8px;
    button {
        margin-top: 10px;
    }
}

#divHoldInfosFrete {
    border: 1px solid $corSecundaria;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0px;
    
    button {
        margin-top: 5px;
    }
}


.divInfosFrete {
    margin-top: 10px;
    border: 1px solid $corSecundaria;
    border-radius: 8px;
    padding: 10px;
}

.resultadoFrete {
    margin: 8px 0px;
    display: flex;
    input {
        font-size: 1.1em;
        margin-right: 4px;
        width: 100%;
    }
    button {
        font-size: 1.1em;
        width: 100px;
    }
}

.infosProducts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divExcluAddInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divAddExclu {
    .buttonsComFundo{
        padding: 3px;
        width: 25px;
    }
    .qtd {
        font-size: 1em;
        padding: 4px 10px;
    }
}

.divExcluAndBtn {
    display: flex;
    gap: 5px;
    align-items: center;
}


@media screen and (max-width: 1115px){
    #holdCar {
        grid-template-areas: 'productsNoCar';
    }
    
}

@media screen and (max-width: 865px){    
    #sectionCarrinho {
        margin: 20px 150px;         
    }
}

@media screen and (max-width: 760px){    
    #sectionCarrinho {
        margin: 20px 80px;         
    }
}

@media screen and (max-width: 600px){    
    #sectionCarrinho {
        margin: 20px 50px;         
    }
}

@media screen and (max-width: 525px){    
    #sectionCarrinho {
        margin:20px;         
    }
}